@import './reset.css';
@import './variables.css';
@import './typography.css';
@import './utilities.css';

html, body, #root {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}